<!Doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>"Empowering Minds at CodeQuarry: Your Affordable Online Coding School Where Knowledge Reigns"</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/index file/themephi.net/template/eduan/assets/img/logo/Code-removebg-preview.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <!-- sidebar-information-area-start -->
    <div class="sidebar-info side-info">
        <div class="sidebar-logo-wrapper mb-25">
            <div class="row align-items-center">
                <div class="col-xl-6 col-8">
                    <div class="sidebar-logo">
                        <a href="index.html"><img src="assets/img/logo/logo-white.png" alt="logo-img"></a>
                    </div>
                </div>
                <div class="col-xl-6 col-4">
                    <div class="sidebar-close-wrapper text-end">
                        <button class="sidebar-close side-info-close"><i class="fal fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-menu-wrapper fix">
            <div class="mobile-menu"></div>
        </div>
    </div>
    <div class="offcanvas-overlay"></div>
    <!-- sidebar-information-area-end -->

     <!-- header area start -->
     <header>
        <div class="header-area header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-6 col-md-6 col-6">
                        <div class="header-left">
                            <div class="header-logo">
                                <a href="index.html"><img src="./index file/themephi.net/template/eduan/assets/img/logo/logo.png" width="90px" alt=""></a>
                            </div>
                            <nav class="main-menu mobile-menu d-none d-xl-block" id="mobile-menu">
                                <ul>
                                    <li class="menu-has-child">
                                        <a href="/index.html">Home</a>
                                        <ul class="submenu">
                                            <li><a href="/index.html">Home</a></li>
                                          
                                        </ul>
                                    </li>
                                    <li class="menu-has-child">
                                        <a href="/courses/themephi.net/template/eduan/course.html">Courses</a>
                                    
                                    </li>
                                    <li class="menu-has-child">
                                        <a href="#">Pages</a>
                                        <ul class="submenu">
                                            <li><a href="/about/themephi.net/template/eduan/about.html">About</a></li>
                                            <li><a href="/team details/themephi.net/template/eduan/team-details.html">Teacher</a></li>
                                            <li><a href="/event/themephi.net/template/eduan/event.html">Events</a></li>
                                            <li><a href="/price/themephi.net/template/eduan/price.html">Price</a></li>
                                            <li><a href="sign-up.html">Sign Up</a></li>
                                            <li><a href="sign-in.html">Sign In</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/contact us/themephi.net/template/eduan/contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 col-6">
                        <div class="header-right">
                            <div class="header-search d-none d-lg-block">
                                <form action="#">
                                    <input type="text" placeholder="Search Item">
                                    <button type="submit" class="header-search-btn"><i class="fa-thin fa-magnifying-glass"></i></button>
                                </form>
                            </div>
                            <div class="header-btn d-none d-sm-block">
                               <a href="/courses/themephi.net/template/eduan/course.html" class="header-btn theme-btn theme-btn-medium">Enroll Now</a>
                            </div>
                            <div class="header-menu-bar d-xl-none ml-10">
                                <span class="header-menu-bar-icon side-toggle">
                                        <i class="fa-light fa-bars"></i>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->

    <main>
        <!-- breadcrumb area start -->
        <section class="breadcrumb-area bg-default" data-background="assets/img/breadcrumb/breadcrumb-bg.jpg">
            <img src="assets/img/breadcrumb/shape-1.png" alt="" class="breadcrumb-shape">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-content">
                            <h2 class="breadcrumb-title">Mastery In Every Types Digital Marketing.</h2>
                            <div class="breadcrumb-list">
                                <a href="/index.html">Home</a>
                                <span>Course Details</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb area end -->

        <!-- course details area start -->
        <section class="course_details-area pt-120 pb-60">
            <div class="container">
                <div class="course_details-img">
                    <img src="https://s3-us-east-2.amazonaws.com/maryville/wp-content/uploads/2020/07/20094519/MVU-BSBUSAD-2020-Q1-Skyscraper-Digital-Marketing-Strategy-Key-Components-Tips-to-Get-Started-01.jpg" width="2000px" alt="">
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-8">
                        <div class="course_details-wrap mb-55">
                            <div class="course_details-top mb-60">
                                <h3 class="course_details-title">Mastery In Every Types Digital Marketing.</h3>
                                <div class="course_details-meta">
                                    <div class="course_details-meta-left">
                                        <div class="course_details-author">
                                            <div class="course_details-author-img">
                                                <img src="https://cdn3d.iconscout.com/3d/premium/thumb/teacher-6368715-5250862.png" alt="">
                                            </div>
                                            <div class="course_details-author-info">
                                                <span>Teacher</span>
                                                <h5><a href="/about/themephi.net/template/eduan/about.html">Vishal More</a></h5>
                                            </div>
                                        </div>
                                        <div class="course_details-category">
                                            <span>Categories</span>
                                            <h5>Online Teaching</h5>
                                        </div>
                                        <div class="course_details-rating">
                                            <span>Review</span>
                                            <ul>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                                <li><i class="fa-solid fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="course_details-meta-right">
                                        <a href="#" class="theme-btn theme-btn-medium">₹249</a>
                                    </div>
                                </div>
                            </div>
                            <div class="course_details-tab-button">
                                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><i class="fa-solid fa-bookmark"></i><span>Overview</span></button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fa-thin fa-box"></i><span>Recorded Lecture</span></button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><i class="fa-thin fa-user"></i><span>Instructor</span></button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-four-tab" data-bs-toggle="pill" data-bs-target="#pills-four" type="button" role="tab" aria-controls="pills-four" aria-selected="false"><i class="fa-thin fa-message-dots"></i><span>Reviews</span></button>
                                    </li>
                                </ul>
                            </div>
                            <div class="course_details-tab-content">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                                        <div class="course_details-content">
                                            <h4 class="course_details-content-title mb-15">Courses Description</h4>
                                            <p class="mb-25">
                                                Embark on an exciting exploration of the dynamic world of Digital Marketing with our all-encompassing "Digital Marketing Essentials" course. Whether you're stepping into the realm of online marketing for the first time or you're a seasoned professional looking to sharpen your skills, this course is your gateway to mastering the art of digital marketing.

                                            </p>
                                           
                                           
                                            <div class="course_details-content-list">
                                                <ul>
                                                  
                                                    <li>Targeted Advertising Campaigns
                                                    </li>
                                                    <li>Data-Driven Decision-Making
                                                    </li>
                                                    <li>Conversion Rate Optimization
                                                    </li>
                                                    <li>Content Strategy and Creation
                                                    </li>
                                                    <li>Social Media Engagement
                                                    </li>
                                                    <li>Email Automation
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                                        <div class="course_details-curriculum">
                                            <h4 class="course_details-content-title mb-15">Course Curriculum</h4>
                                            <p class="mb-25">Join Codequarry on this JavaScript journey, and unlock a world of opportunities in the ever-evolving tech industry. Whether you aspire to become a full-stack developer, a front-end specialist, or simply want to understand the mechanics of the web, this course will set you on the right path.</p>
                                            <div class="accordion" id="Expp">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                Greetings and introduction
                                                            </button>
                                                    </h2>
                                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#Expp">
                                                        <div class="accordion-body">
                                                            <ul>
                                                                <li>
                                                                    
                                                                    <a href=""><i class="fa-brands fa-youtube"></i>What is Digital Marketing?


                                                                       </a>
                                                                    <span>09:00<i class="fa-light fa-lock-keyhole"></i></span>
                                                                </li>
                                                                <li><a href="#"><i class="fa-brands fa-youtube"></i>  Evolution of Digital Marketing

                                                                    <br> </a><span>09:00<i class="fa-light fa-lock-keyhole"></i></span></li>
                                                                <li><a href="#"><i class="fa-brands fa-youtube"></i> Importance and Benefits of Digital Marketing

                                                                    <br> </a><span>09:00<i class="fa-light fa-lock-keyhole"></i></span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                             
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingFour">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                                Lesson 1 Digital Marketing Channels:
                                                            </button>
                                                    </h2>
                                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#Expp">
                                                        <div class="accordion-body">
                                                            <ul>
                                                                
                                                                <li>
                                                                    
                                                                    <a href="#"><i class="fa-brands fa-youtube"></i>Overview of Major Digital Marketing Channels

                                                                    </a>
                                                                    <span>09:00<i class="fa-light fa-lock-keyhole"></i></span>
                                                                </li>
                                                                <li><a href="#"><i class="fa-brands fa-youtube"></i>Website Marketing
                                                                </a><span>09:00<i class="fa-light fa-lock-keyhole"></i></span></li>

                                                                <li><a href="#"><i class="fa-brands fa-youtube"></i>Social Media Marketing
                                                                </a><span>09:00<i class="fa-light fa-lock-keyhole"></i></span></li>

                                                                <li><a href="#"><i class="fa-brands fa-youtube"></i>Content Marketing
                                                                </a><span>09:00<i class="fa-light fa-lock-keyhole"></i></span></li>

                                                           
                                                             

                                                           


                                                            
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                           
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingSix">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                                Live Project Building
                                                            </button>
                                                    </h2>
                                                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#Expp">
                                                        <div class="accordion-body">
                                                            <ul>
                                                                <li>
                                                                  
                                                                 
                                                                </li>
                                                                <li><a href="#"><i class="fa-brands fa-youtube"></i>Live Project Building Based On Topics </a><span>---<i class="fa-light fa-lock-keyhole"></i></span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                                        <div class="course_details-instructor">
                                            <div class="course_details-thumbnail w_img">
                                                <img src="https://cdn3d.iconscout.com/3d/premium/thumb/teacher-6368715-5250862.png" alt="team images">
                                            </div>
                                            <div class="course_details-author-content">
                                                <h6 class="course_details-author-title">Vishal More</h6>
                                                <span class="course_details-author-subtitle">experienced Tutor For Digital Makrketing </span>
                                                <p>Meet Vishal More, your seasoned guide into the dynamic world of digital marketing. With over 3+ years of hands-on experience, Vishal brings a wealth of knowledge and expertise to the table. As the founder of 2+ successful companies, he not only imparts theoretical wisdom but also shares invaluable real-world insights, making him your go-to mentor for mastering the art of digital marketing. Join Vishal on your journey to digital marketing excellence today!




                                                </p>
                                              
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-four" role="tabpanel" aria-labelledby="pills-four-tab" tabindex="0">
                                        <div class="course_details-review">
                                            <h4 class="course_details-review-title">Student Ratings &amp; Reviews</h4>
                                            <div class="course_details-review-wrap">
                                                <div class="row d-flex align-items-center">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="course_details-review-left">
                                                            <h5>5.0</h5>
                                                            <ul>
                                                                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                            </ul>
                                                            <p>(0 Reviews)</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8">
                                                        <div class="course_details-review-content">
                                                            <ul>
                                                                <li>
                                                                    <span class="review-rating">5 <i class="fa-solid fa-star"></i></span>
                                                                    <span class="review-progress-bar"></span>
                                                                    <span class="review-rating-count">1</span>
                                                                </li>
                                                                <li>
                                                                    <span class="review-rating">4 <i class="fa-solid fa-star"></i></span>
                                                                    <span class="review-progress-bar"></span>
                                                                    <span class="review-rating-count">3</span>
                                                                </li>
                                                                <li>
                                                                    <span class="review-rating">5 <i class="fa-solid fa-star"></i></span>
                                                                    <span class="review-progress-bar"></span>
                                                                    <span class="review-rating-count">0</span>
                                                                </li>
                                                                <li>
                                                                    <span class="review-rating">5 <i class="fa-solid fa-star"></i></span>
                                                                    <span class="review-progress-bar"></span>
                                                                    <span class="review-rating-count">0</span>
                                                                </li>
                                                                <li>
                                                                    <span class="review-rating">5 <i class="fa-solid fa-star"></i></span>
                                                                    <span class="review-progress-bar"></span>
                                                                    <span class="review-rating-count">0</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="course_details-sidebar mb-60">
                            <div class="course_details-price">
                                <del>₹999</del>
                                <h2>₹249</h2>
                            </div>
                            <div class="course_details-list">
                                <ul>
                                    <li>
                                        <span><i class="fa-thin fa-clock"></i>Duration</span>
                                        <span>7 Weeks</span>
                                    </li>
                                   
                                    <li>
                                        <span><i class="fa-thin fa-file-lines"></i>Lessons</span>
                                        <span>5</span>
                                    </li>
                                    <li>
                                        <span><i class="fa-thin fa-chart-line-up"></i>Skill Level</span>
                                        <span>Beginner</span>
                                    </li>
                                    <li>
                                        <span><i class="fa-thin fa-language"></i>Language</span>
                                        <span>English + Hindi</span>
                                    </li>
                                    <li>
                                        <span><i class="fa-thin fa-user"></i>Instructor</span>
                                        <span>Satvik Chaturvedi</span>
                                    </li>
                                 
                                   
                                </ul>
                                <div class="course_details-sidebar-btn">
                                    <a href="#" class="course-btn theme-btn theme-btn-big">Purchase Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- course details area end -->

           <!-- cta area start -->
           <div class="cta-area">
            <div class="container">
                <div class="cta-wrapper">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6">
                            <div class="cta-content mb-30 mb-lg-0">
                                <span class="cta-subtitle">Enroll Now</span>
                                <h2 class="cta-title">Are you Ready to Start your Online Course?</h2>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="cta-button">
                              
                                <a href="/courses/themephi.net/template/eduan/course.html" class="cta-btn"><i class="fa-brands fa-google-play"></i>Enroll Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cta area end -->
    </main>

    <!-- footer area start -->
    <footer class="footer-area">
        <div class="footer-top pt-240 pb-55">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-3 col-lg-7 col-md-7 col-sm-12">
                        <div class="footer-widget mb-40">
                            <div class="footer-logo">
                                <a href="/index.html"><img src="/index file/themephi.net/template/eduan/assets/img/logo/logo.png" width="100px" alt=""></a>
                            </div>
                            <p class="footer-widget-text mb-35">
                                Through a combination of lectures, Notes, Live-Programming, discussions, students will gain a solid foundation in Programming.
                            </p>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-5 col-md-5 col-sm-6 d-flex justify-content-xl-center">
                        <div class="footer-widget mb-40">
                            <h5 class="footer-widget-title">Useful Link</h5>
                            <div class="footer-widget-list">
                                <ul>
                                    <li><a href="/about/themephi.net/template/eduan/about.html">About Codequarry</a></li>
                                    <li><a href="/contact us/themephi.net/template/eduan/contact.html">Contact</a></li>
                                    <li><a href="/contact us/themephi.net/template/eduan/contact.html">Help Centre</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-5 col-md-5 col-sm-6 d-flex justify-content-xl-center order-md-4 order-xl-3">
                        <div class="footer-widget mb-40">
                            <h5 class="footer-widget-title">Categories</h5>
                            <div class="footer-widget-list">
                                <ul>
                                    <li><a href="#">Design Skills</a></li>
                                    <li><a href="#">Development</a></li>
                                    <li><a href="#">Marketing</a></li>
                                    <li><a href="#">Finance & Accounting</a></li>
                                    <li><a href="#">IT & Software</a></li>
                                    <li><a href="#">Sales Marketing</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-7 col-md-7 col-sm-12 order-md-3 order-xl-4">
                        <div class="footer-widget ml-80 mb-40">
                            <h5 class="footer-widget-title">For any Query</h5>
                            <p class="footer-widget-text mb-20 newsletter-text">Send Us your Email Registered on the Website <br> For any Isues</p>
                            <form action="#">
                                <div class="footer-subscribe-form">
                                    <input type="email" placeholder="Enter Your Email*">
                                    <button type="submit">Send</button>
                                </div>
                                <div class="footer-subscribe-condition">
                                    <label class="condition_label">I agree to the terms of use and privacy policy.
                                            <input type="checkbox">
                                            <span class="check_mark"></span>
                                        </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright-text">
                            <p>Copyright © 2023 All Rights Reserved by Codequarry</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <!-- JS here -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/jquery.scrollUp.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/odometer.min.js"></script>
    <script src="assets/js/appear.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>